BOOTSTRAP_SERVERS=
KAKFA_SECURITY_PROTOCOL=
KAFKA_SASL_MECHANISM=
SASL_USERNAME=
SASL_PASSWORD=
PRODUCER_NAME=
SOURCE_NAME=
TARGET_TOPIC=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_ENDPOINT=
S3_BUCKET_NAME=
S3_FILENAME=
