FUSEKI_URL=http://localhost:3030/knowledge
CREATE_VIEW_QUERY_FILE=materialised-view-creation/src/create-view/create-geo-view/create-geo-view.sparql
RECORD_COUNT_QUERY_FILE=materialised-view-creation/src/create-view/get-total-buildings.sparql